# Coloque aqui o nome do seu domínio, caso tenha um
localhost:80

root /srv

# Frontend
rewrite / {
	if {uri} not_starts_with /web
	if {uri} not_starts_with /api
	to /frontend/{uri}
}

# Web
rewrite /web/ {
	r (.*)
	to /minha-cidade-web/app/{1}
}


# Api
proxy /api/ http://backend:8080/ {
	transparent
}

